<!DOCTYPE html>
<html lang="tr-TR" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/neon_text.css" />
    <title></title>
</head>

<body>
    {{{body}}}
</body>

</html>