<p>
    Bismillahirrahmanirrahim
</p>
<p>
    {{{adi}}}
</p>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Buton
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Buton
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Buton
</a>