<div class="container">
    <div class="cloud1">
        <img src="static/img/cloud1.png" alt="cloud" class="cloud1">
        <img src="static/img/cloud2.png" alt="cloud" class="cloud2">
        <img src="static/img/cloud3.png" alt="cloud" class="cloud3">
        {{!-- <img src="static/img/cloud4.png" alt="cloud" class="cloud4">
        <img src="static/img/cloud5.png" alt="cloud" class="cloud5">
        <img src="static/img/cloud6.png" alt="cloud" class="cloud6">
        <img src="static/img/cloud7.png" alt="cloud" class="cloud7"> --}}

    </div>
</div>