<div id="kutukapsa">
    <div class="kutu">
        Kutu 1
    </div>
    <div class="kutu">
        Kutu 2
    </div>
    <div class="kutu">
        Kutu 3
    </div>
    <div class="kutu">
        Kutu 4
    </div>
    <div class="kutu">
        Kutu 5
    </div>
    <div class="kutu">
        Kutu 6
    </div>
    <div class="kutu">
        Kutu 7
    </div>
    <div class="kutu">
        Kutu 8
    </div>
</div>