<div id="kutukapsa">
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
    <div class="kutu">

    </div>
</div>