<h1>
    <span>y</span>
    <span>ü</span>
    <span>k</span>
    <span>l</span>
    <span>e</span>
    <span>n</span>
    <span>i</span>
    <span>y</span>
    <span>o</span>
    <span>r</span>
</h1>