* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: rgb(100, 200, 245);
} */
.container {
    background-color: rgb(100, 200, 245);
    height: 650px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container img.cloud1 {
    position: absolute;
    top: 40px;
    animation: cloud1 infinite 35s linear;
}

.container img.cloud2 {
    position: absolute;
    top: 70px;
    animation: cloud2 infinite 40s linear;
    animation-delay: 35s;
}

.container img.cloud3 {
    position: absolute;
    top: 30px;
    animation: cloud3 infinite 60s linear;
}

/* .container img.cloud4 {
    position: absolute;
    top: 200px;
    animation-delay: 45s;
}

.container img.cloud5 {
    position: absolute;
    top: 550px;
    animation-delay: 32s;
}

.container img.cloud6 {
    position: absolute;
    top: 145px;
    animation-delay: 65s;
}

.container img.cloud7 {
    position: absolute;
    top: 900px;
    animation-delay: 47s;
} */
@keyframes cloud1 {
    0% {
        transform: translateX(70%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes cloud3 {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(100%);
    }
}