div#kutukapsa {
    width: 936px;
    height: 470px;
    border: 2px solid red;
    margin: auto;
    display: flex;
    /*direction: rtl;*/
    flex-direction: row;
    flex-wrap: wrap;
}

div.kutu {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 200px;
    margin: 5px;
}