* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(100, 200, 245);
}

div.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div.box div.face1, div.box div.face2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

div.box div.face1 {
    background-image: url(../img/bottleFull.png);
    background-repeat: no-repeat;
    background-position: center;
}

div.box div.face2 {
    background-image: url(../img/bottle.png);
    background-repeat: no-repeat;
    background-position: center;
}